/* SECOND PAGE STYLES */

/* SECTION GALERY */

.galery {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #ffffff;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}


.buttons__item {
    display: block;

    &:not(:last-child) {
        margin-right: 8px;
    }
    
}



.filter {
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    border-color: transparent;
    color: var(--primary-text-color);
    background: #F5F4FA;
    border-radius: 4px;

    transition: color var(--trans-fast), background-color var(--trans-fast), box-shadow var(--trans-fast);

    &:hover,
    &:focus {
            color: var(--secondary-color);
            background: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
}

.filter.main {

    width: 73px;
    height: 38px;

}

.filter.web {
    width: 128px;
    height: 38px;
}

.filter.apps {
    width: 145px;
    height: 38px;
}

.filter.design {
    width: 103px;
    height: 38px;
}

.filter.marketing {
    width: 130px;
    height: 38px;
}





.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}


.card-set__item {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 404px;
    background: var(--secondary-color);

}


.card-set__meta {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}



.card-set__title {
    font-family: var(--pimary-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

}

.card-set__text {
    font-family: var(--pimary-font-family);
    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color);
}

.card-set__link {

    display: block;
    text-decoration: none;

    transition: box-shadow var(--trans-fast);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.card-set__slideplace {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 294px;
    left: 0;
    bottom: -100%;
    background-color: rgba(33, 150, 243, 0.9);
    ;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .card-set__link:hover &,
    .card-set__link:focus & {
            transform: translateY(-200%) translateY(100%);
        }
}



.description {
    display: block;
    width: 322px;
    height: 140px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56em;
    letter-spacing: 0.03em;

    color: var(--secondary-color);

}