:root {
    --primary-background-color: #f5f5f5;
    --secondary-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --icons-color: #AFB1B8;
    --trans-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    vertical-align: middle;

}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {

    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

body {
    background-color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
}